{% load staticfiles %}

<!DOCTYPE html>
<html>
    <head>
        <title>My Django Blog</title>
    </head>
    <link type="text/css" rel="stylesheet" href="{% static 'django_blog.css' %}">
    <body>
        <div id="header">
             <ul id="control-bar">
                 {% if user.is_authenticated %}
                 <li> {{ user.get_username }} </li>
                 {% else %}
                 <li><a href="{% url 'admin:login' %}">login</a></li>
                 {% endif %}
             </ul>
        </div>
        <div id="container">
            <div id="content">
            {% block content %}
            {% endblock content %}
            </div>
        </div>
    </body>
</html>

